html,
body {
    margin: 0;
    color: white;
    background: #0f0f0f;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

nav {
    padding: 0.5rem 1rem;
    background: #1f1f1f;
}

a {
    color: inherit;
    text-decoration: none;
}

.post {
    margin: auto;
    margin-top: 1rem;
    max-width: 1000px;
    margin-bottom: 1rem;
    background: #161616;
    border-radius: 0.1rem;
    border: 0.1rem solid #333;
}

.post-header {
    opacity: 0.5;
    line-height: 25px;
    margin: 0.5rem 1rem 1rem;
}

.post-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 1rem 1rem 0rem;
}

.post-body {
    opacity: 0.9;
    font-weight: normal;
    padding: 0.5rem 1rem 0.5rem;
}

.post-url {
    font-size: 10px;
    font-weight: bold;
}

.post-created {
    font-size: 10px;
}

.dot {
    opacity: 0.5;
    font-size: 12px;
}

@media (max-width: 768px) {
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Markdown */

.md h1 {
    font-size: 22px;
}
.md h2 {
    font-size: 20px;
}
.md h3 {
    font-size: 18px;
}
.md h4 {
    font-size: 16px;
}
.md h5 {
    font-size: 14px;
}
.md h6 {
    font-size: 12px;
}

.md blockquote {
    padding: 10px;
    background: #1f1f1f;
    margin: 4px 0 4px 5px;
    border-left: 4px solid #444;
}

.md a,
.md a * {
    color: aqua;
    text-decoration: underline;
}

.md .md-spoiler-text {
    background: #333;
    color: transparent;
}

.md .md-spoiler-text:hover {
    color: white;
    background: #222;
}

.md li {
    margin: 10px 0;
}

.md pre {
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
    background: #0a0a0a;
    border: 1px solid #333;
}

.md table {
    width: 100%;
    border-collapse: collapse;
}

.md th,
.md td {
    padding: 8px;
    text-align: left;
    border: 1px solid #333;
}

.md th {
    background-color: #1f1f1f;
}

.md code {
    font-size: 14px;
    font-family: monospace, sans-serif;
}

.md hr {
    border: 0px;
    height: 1px;
    margin: 8px 0px;
    border-top: 1px solid #333;
}

.md code:not(.md pre > code) {
    padding: 2px 4px;
    border-radius: 3px;
    background: #2b2b2b;
}
